{% extends "base.html" %}

{% block head %}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['corechart']});

      //chart 2
      google.setOnLoadCallback(drawMouseoverVisualization);
      var barsVisualization;
      function drawMouseoverVisualization() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Year');
        data.addColumn('number', '{{ movies_by_year.title }}');
        data.addRows( {{ movies_by_year.values|safe }} );
        var options = {
                     'width':400,
                     'height':300};
        barsVisualization = new google.visualization.ColumnChart(document.getElementById('chart_movies_by_year'));
        barsVisualization.draw(data, options);
        google.visualization.events.addListener(barsVisualization, 'onmouseover', barMouseOver);
        google.visualization.events.addListener(barsVisualization, 'onmouseout', barMouseOut);


        var data1 = new google.visualization.DataTable();
        data1.addColumn('string', 'Year');
        data1.addColumn('number', '{{ movie_rate_by_year.title }}');
        data1.addRows( {{ movie_rate_by_year.values|safe }} );
        var options1 = {
                     'width':400,
                     'height':300};
        barsVisualization1 = new google.visualization.ColumnChart(document.getElementById('chart_movie_rate_by_year'));
        barsVisualization1.draw(data1, options1);
        google.visualization.events.addListener(barsVisualization1, 'onmouseover', barMouseOver);
        google.visualization.events.addListener(barsVisualization1, 'onmouseout', barMouseOut);

      }



      function barMouseOver(e) {
        barsVisualization.setSelection([e]);
      }
      function barMouseOut(e) {
        barsVisualization.setSelection([{'row': null, 'column': null}]);
      }



      google.setOnLoadCallback(drawChart);
      function drawChart() {
        
        var data = google.visualization.arrayToDataTable(
          {{top_directors_rating.values|safe}}
        );
        var options = {
          vAxis: {title: 'Year',  titleTextStyle: {color: 'red'}}
        };
        var chart = new google.visualization.BarChart(document.getElementById('chart_top_directors_rating'));
        chart.draw(data, options);


        var data1 = google.visualization.arrayToDataTable(
          {{top_directors_watched.values|safe}}
        );
        var options1 = {
          vAxis: {title: 'Director',  titleTextStyle: {color: 'red'}}
        };
        var chart1 = new google.visualization.BarChart(document.getElementById('chart_top_directors_watched'));
        chart1.draw(data1, options1);

      }

      </script>
{% endblock %}

{% block content %}

    <div id="imdb_id">YOUR ID: {{imdbid}}</div>
    <div class="row-fluid marketing">
      <div class="span6">
        <h4>{{movies_by_year.title}}</h4>
        <p><div id="chart_movies_by_year"></div></p>

        <h4>{{total_minutes_watched.title}}</h4>
        <p>{{total_minutes_watched.values}}</p>

        <h4>{{top_directors_watched.title}}</h4>
        <p><div id="chart_top_directors_watched"></div></p>

      </div>

      <div class="span6">
        <h4>{{movie_rate_by_year.title}}</h4>
        <p><div id="chart_movie_rate_by_year"></div></p>

        <h4>{{ top_directors_rating.title }}</h4>
        <p><div id="chart_top_directors_rating"></div></p>
      </div>
    </div>

{% endblock %}
                                                                                                                                                                                                   102,1         Bot
