{% extends "base.html" %}

{% block content %}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(
            {{ data|safe }}
          );

        // Set chart options
        var options = {
                       'width':400,
                       'height':300,
                        is3D: true,
                   };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }



        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawMouseoverVisualization);
        // barsVisualization must be global in our script tag to be able
        // to get and set selection.
        var barsVisualization;

        function drawMouseoverVisualization() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Year');
          data.addColumn('number', '{{ moviedata.name }}');
          data.addRows( {{ data|safe }} );

          // Set chart options
          var options = {
                       'width':400,
                       'height':300};


          barsVisualization = new google.visualization.ColumnChart(document.getElementById('mouseoverdiv'));
          barsVisualization.draw(data, options);

          // Add our over/out handlers.
          google.visualization.events.addListener(barsVisualization, 'onmouseover', barMouseOver);
          google.visualization.events.addListener(barsVisualization, 'onmouseout', barMouseOut);
        }

        function barMouseOver(e) {
          barsVisualization.setSelection([e]);
        }

        function barMouseOut(e) {
          barsVisualization.setSelection([{'row': null, 'column': null}]);
        }
    </script>
    <div id="imdb_id">YOUR ID: {{imdbid}}</div>
    <!--<div id="chart_div"></div>
    <div id="mouseoverdiv"></div>-->
    <div class="row-fluid marketing">
      <div class="span6">
        <h4>{{moviedata.title}}</h4>
        <p><div id="chart_div"></div></p>

        <h4>Test</h4>
        <p>2Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

        <h4>Subheading</h4>
        <p>3Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>

      <div class="span6">
        <h4>{{moviedata.title}}</h4>
        <p><div id="mouseoverdiv"></div></p>

        <h4>Subheading</h4>
        <p>5Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

        <h4>Subheading</h4>
        <p>6Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>
    </div>

{% endblock %}